/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination {
	display: inline-block;
	margin: 40px 0 0;

	&-area {
		text-align: center;
	}
}

.pagination a {
	color: $white;
	background-color: #1f2229;
	float: left;
	padding: 6px 15px;
	text-decoration: none;
	transition: background-color 0.3s;
	border: 1px solid #1f2229;
	margin: 0 4px;
	&:hover {
		text-decoration: none;
	}
}

.pagination a.active {
	background-color: $primary;
	color: white;
	border: 1px solid $primary;
}

.pagination a:hover:not(.active) {
	background-color: #15171b;
}
