// -----------------------------------------------------------------------------
// VIDEO
// -----------------------------------------------------------------------------
.section__bg-video {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 55%;
		background-color: #f8f9fa;
		z-index: -1;
	}
}

.play-video {
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	border-radius: 50%;
	z-index: 10;
	width: 100px;
	height: 100px;
	transform: translateX(-50%) translateY(-50%);
	transform-origin: center center;
	@include mobile {
		width: 80px;
		height: 80px;
		top: 35%;
	}
}

.play-video .icon {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100px;
	width: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #ffffff;
	color: #333333;
	z-index: 1;
	font-size: 30px;
	padding-left: 5px;
	display: block;
	transform: translateX(-50%) translateY(-50%);
	transform-origin: center center;
	border-radius: 50%;
	-ms-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.1);
	-o-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.1);
	box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.1);
	@include mobile {
		height: 80px;
		width: 80px;
		top: 10%;
		line-height: 80px;
	}
}

.play-video .ripple,
.play-video .ripple:before,
.play-video .ripple:after {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100px;
	width: 100px;
	transform: translateX(-50%) translateY(-50%);
	transform-origin: center center;
	border-radius: 50%;
	-ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
	-o-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
	animation: ripple 3s infinite;
	@include mobile {
		top: 24%;
		height: 80px;
		width: 80px;
	}
}

.play-video .ripple:before {
	animation-delay: 0.9s;
	content: "";
	position: absolute;
}

.play-video .ripple:after {
	animation-delay: 0.6s;
	content: "";
	position: absolute;
}

@keyframes ripple {
	70% {
		box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}
