// -----------------------------------------------------------------------------
// Header of the site/application
// -----------------------------------------------------------------------------

.bg-theme-three {
	// background-image: url("../../../doc-onlineshop/images/bg-news.jpg");
	width: 100%;
	background-attachment: fixed !important;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
}

.hero {
	position: relative;
	width: 100%;
	// background-color: #272727;
	background: url("../../images/1920x960.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	// height: 100vh;
	background-attachment: fixed;
}

.hero-banner {
	position: relative;
	width: 100%;
	// background-color: #272727;
	// background: url("../../images/home01.jpg") no-repeat;
	background-size: cover;
	background-position: 20% 10%;
	height: 100vh;
	background-attachment: fixed;
	@include mobile {
		height: auto;
	}
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	// background-color: #b61924;
	// background-image: url("");
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: 50% 50%;
}

.wrap__hero-text {
	position: relative;
	height: 90vh;
	@include mobile {
		height: 50vh;
	}
	h1 {
		color: $white;
		text-transform: capitalize;
		margin-bottom: 40px;
		margin-left: 40px;
		font-size: 53px;
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=63, Color=#000000)"; /*IE 8*/
		text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.4); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#000000); /*IE 5.5-7*/
		@include mobile {
			font-size: 26px;
			margin-left: 0;
		}
		@include tablet {
			font-size: 30px;
		}
	}
	h4 {
		font-size: 18px;
		margin-bottom: 20px;
		margin-left: 40px;
		color: $primary;
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=63, Color=#000000)"; /*IE 8*/
		text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.4); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#000000); /*IE 5.5-7*/
		text-transform: capitalize;
		@include mobile {
			font-size: 14px;
			margin-left: 0;
		}
	}
	p {
		color: $gray;
		line-height: 1.8;
		font-size: 20px;
		margin-bottom: 20px;
		margin-left: 40px;
		@include mobile {
			font-size: 16px;
			margin-left: 0;
		}
	}
	.btn {
		margin-left: 40px;
		padding: 1rem 2rem;
		text-transform: capitalize;
		font-weight: 700;
		margin-top: -10px;
		@include mobile {
			margin-left: 0;
		}
	}
	a {
		&:hover {
			text-decoration: none;
		}
		span {
			position: relative;
			display: flex;
			font-size: 30px;
			margin: 10px 20px;
			align-self: center;
			width: auto;
			@include mobile {
				margin: 10px;
			}
		}
	}
}

.wrap__hero {
	position: absolute;
	bottom: 0;
	right: 15%;

	img {
		position: relative;
		max-width: 100%;
		height: auto;
		object-fit: cover;
	}
}

.wrap__intro {
	height: 100vh;
	position: relative;
	@include mobile {
		height: auto;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	@include tablet {
		height: 45vh;
	}
	&-heading {
		max-width: 700px;
		margin-right: 50px;

		@include mobile {
			margin-right: 0;
			max-width: 100%;
		}
		.btn {
			padding: 1rem 3rem;
			margin-top: -10px;
			text-transform: capitalize;
			font-weight: 700;
			font-size: 14px;
		}
	}
	h1 {
		color: $white;
		text-transform: capitalize;
		margin-bottom: 40px;
		font-size: 52px;
		@include mobile {
			font-size: 26px;
		}
		@include tablet {
			font-size: 30px;
		}
	}
	h4 {
		color: $primary;
		text-transform: capitalize;
		line-height: 1.7;
		@include mobile {
			font-size: 14px;
		}
	}
	p {
		color: $gray;
		line-height: 1.8;
		font-size: 16px;
		margin-bottom: 45px;
		@include mobile {
			font-size: 16px;
		}
	}
	a {
		&:hover {
			text-decoration: none;
		}
		span {
			position: relative;
			display: flex;
			font-size: 30px;
			margin: 10px 20px;
			align-self: center;
			width: auto;
			@include mobile {
				margin: 10px 8px;
			}
		}
	}
	figure {
		img {
			display: block;
			margin: 0 auto;
			object-fit: cover;
			position: relative;
			vertical-align: middle;
			height: 430px;
			z-index: 2;
			@include mobile {
				display: none;
			}
			@include tablet {
				height: auto;
			}
		}
		&::before {
			bottom: -35px;
			right: -60px;
			@include mobile {
				bottom: -115px;
				right: 0px;
			}
			@include tablet {
				bottom: -60px;
				right: -24px;
			}
		}
		&::before {
			content: "";
			position: absolute;
			background-image: url("../../images/ornament.png");
			background-repeat: no-repeat;
			width: 240px;
			height: 230px;
			z-index: 1;
			@include mobile {
				width: 145px;
				height: 175px;
			}
		}
		&::after {
			top: 0px;
			left: -60px;
		}
		&::after {
			content: "";
			position: absolute;
			background-image: url("../../images/ornament1.png");
			background-repeat: no-repeat;
			width: 50px;
			height: 70px;
			z-index: 1;
		}
	}
	&:before {
		top: 19%;
		left: 20%;
	}
	&::before {
		content: "";
		position: absolute;
		width: 100px;
		height: 100px;
		background: $primary;
		opacity: 0.1;
		z-index: 0;
		border-radius: 50%;
		pointer-events: none;
	}
	&:after {
		top: 4%;
		right: 30%;
	}
	&::after {
		content: "";
		position: absolute;
		background-image: url("../../images/ornament4.png");
		background-repeat: no-repeat;
		width: 40px;
		height: 60px;
		z-index: 1;

		// -ms-transform: skewY(10deg); /* IE 9 */
		// transform: skewY(10deg);
	}
}

.intro-grid {
	background-image: url("../../images/dot-light.png");
	// background-image: url("../../images/bg-shape.png");
	position: absolute;
	/* background-size: 24px 24px; */
	opacity: 1;
	top: 20%;
	right: 13px;
	bottom: 0px;
	left: -70px;
}
