// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------

.section__about {
    // &::before {
    //     content: "";
    //     display: block;
    //     background-image: url("../../images/dot-light.png");
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     right: 0;
    //     left: calc(50% + 12vw);
    // }
    &::after {
        bottom: 7%;
        right: 10%;
    }
    &::after {
        content: "";
        position: absolute;
        background-image: url("../../images/ornament.png");
        background-repeat: no-repeat;
        width: 240px;
        height: 230px;
        z-index: 1;
        opacity: 0.2;
    }
}
.section__about-profile {
    position: relative;
    z-index: 1;
    &::before {
        top: -20%;
        left: 5%;
        @include mobile {
            top: 0;
        }
    }
    &::before {
        content: "";
        position: absolute;
        background-image: url("../../images/ornament.png");
        background-repeat: no-repeat;
        width: 240px;
        height: 230px;
        z-index: 1;
        opacity: 0.4;
        @include mobile {
            opacity: 0.2;
        }
    }
    h2 {
        color: $white;
        text-transform: capitalize;
        // margin-bottom: 30px;
        @include mobile {
            font-size: 24px;
        }
    }
    p {
        color: $white;
    }

    .box__icon {
        figure {
            img {
                width: 100px;
                position: relative;
                max-width: 100%;
                object-fit: cover;
            }
        }
        &-item {
            position: relative;
            margin-bottom: 20px;
            .box__info {
                padding-top: 8px;
                @include mobile {
                    padding-top: 0;
                }
                &-desc {
                    h5 {
                        color: $white;
                        font-size: 18px;
                        text-transform: capitalize;
                        @include mobile {
                            font-size: 14px;
                        }
                    }
                    p {
                        color: #ddd;
                    }
                }
            }
        }
    }
}

.section__total-projects {
    padding: 40px 30px;
    margin-top: 10px;
    margin-bottom: 40px;
    background: linear-gradient(201.69deg, #262a33 -21.7%, #2c313a 141.87%);
    overflow: hidden;
    position: relative;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    &::before {
        position: absolute;
        content: "";
        height: 50px;
        width: 50px;
        background: linear-gradient(201.69deg, #313844 -21.7%, #202329 141.87%);
        left: 10px;
        top: 20px;
        z-index: -1;
        border-radius: 50%;
        -webkit-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;

        overflow: hidden;
    }
    h6 {
        color: $primary;
        font-size: 14px;
        margin-bottom: 15px;
    }
    h5 {
        color: $white;
        font-size: 18px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    p {
        font-size: 13px;
        line-height: 1.7;
        margin-bottom: 0;
        text-transform: capitalize;
    }
}

.section__total-projects:hover::before {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    border-radius: 0;
}
