// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------
#projects {
    &::before {
        bottom: 10%;
        left: 10%;
    }
    &::before {
        content: "";
        position: absolute;
        background-image: url("../../images/ornament5.png");
        background-repeat: no-repeat;
        width: 124px;
        height: 122px;
        z-index: 1;
        opacity: 0.5;
    }
}

.section__about-projects {
    // border: 1px solid gray;
    position: relative;
    z-index: 1;
    &::before {
        top: -70px;
        right: 30%;
    }
    &::before {
        content: "";
        position: absolute;
        background-image: url("../../images/ornament1.png");
        background-repeat: no-repeat;
        width: 50px;
        height: 70px;
        z-index: 1;
    }
    &::after {
        top: -20%;
        left: 30%;
    }
    &::after {
        content: "";
        position: absolute;
        background-image: url("../../images/ornament4.png");
        background-repeat: no-repeat;
        width: 40px;
        height: 60px;
        z-index: 1;
        transform: rotate(70deg);
    }

    h2 {
        color: $primary;
        text-transform: capitalize;
        @include mobile {
            font-size: 24px;
        }
    }
    p {
        color: $white;
        margin-bottom: 0;
    }
    figure {
        margin-top: 30px;
        margin-bottom: 0;
        img {
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
