// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------

.section__about-reviews {
    // border: 1px solid gray;
    position: relative;
    z-index: 1;
    &::before {
        top: -70px;
        right: 30%;
    }
    &::before {
        content: "";
        position: absolute;
        background-image: url("../../images/ornament1.png");
        background-repeat: no-repeat;
        width: 50px;
        height: 70px;
        z-index: 1;
    }
    &::after {
        top: 7%;
        right: 48%;
        @include mobile {
            top: -1%;
            right: 38%;
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        background: #ffc31d;
        opacity: 0.1;
        z-index: 0;
        border-radius: 50%;
        pointer-events: none;
    }
    h2 {
        color: $white;
        text-transform: capitalize;
        // margin-bottom: 30px;
        @include mobile {
            font-size: 24px;
        }
    }
    p {
        color: $white;
        line-height: 1.7;
    }
}

/*-----------------------
    Testimonial Style4
-------------------------*/
.tc-testimonial-style4 {
    text-align: center;
}
.tc-testimonial-style4 .testi-desc {
    padding-top: 100px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.tc-testimonial-style4 .testi-desc p {
    font-size: 18px;
    line-height: 1.5;
    @include mobile {
        font-size: 16px;
    }
}
.tc-testimonial-style4 .testi-photo {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.tc-testimonial-style4 .testi-photo img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 5px;
    background: $primary;
}
.tc-testimonial-style4 .testi-info {
    display: inline-block;
    padding-top: 10px;
    position: relative;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}
.tc-testimonial-style4 .testi-info:before {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    height: 1px;
    width: 20px;
    background-color: #444;
}
.tc-testimonial-style4 .position {
    font-size: 14px;
    color: $primary;
}
.tc-testimonial-style4 .position a {
    color: $primary;
}
