// -----------------------------------------------------------------------------
// SERVICES
// -----------------------------------------------------------------------------

// .section__service :after {
//     position: absolute;
//     content: "";
//     height: 700px;
//     width: 700px;
//     left: -10%;
//     bottom: 0;
//     background: url("../../images/bg-shape.svg");
//     z-index: -1;
//     background-position: right;
//     background-size: contain;
// }
.section__hire-me {
    // border: 1px solid gray;
    position: relative;
    z-index: 1;
    &::after {
        top: 7%;
        right: 48%;
        @include mobile {
            top: 0%;
            right: 37%;
        }
    }
    &::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        background: #ffc31d;
        opacity: 0.1;
        z-index: 0;
        border-radius: 50%;
        pointer-events: none;
    }
    &::before {
        top: -70px;
        left: 30%;
    }
    &::before {
        content: "";
        position: absolute;
        background-image: url("../../images/ornament1.png");
        background-repeat: no-repeat;
        width: 50px;
        height: 70px;
        z-index: 1;
        opacity: 0.5;
    }
    h2 {
        color: $white;
        text-transform: capitalize;
        // margin-bottom: 30px;
        @include mobile {
            font-size: 24px;
        }
    }
    p {
        color: $white;
        line-height: 1.7;
    }
}
