<!-- DEMO PANEL -->
<div class="option-panel option-panel-collased">
    <div class="panel-body">
        <!-- 
        <h2>Change Color / Comming Soon</h2>

        <div class="container">
            <div class="row">
                <div class="btn demo-button color-plate default-plate" data-color="default">
                    default
                </div>
                <div class="btn demo-button color-plate default-plate" data-color="default">
                    default
                </div>
            </div>
           
        </div> -->

        <h2>Demo Variant</h2>

        <div class="container">
            <div class="row">
                <div class="col-md-12 mb20">
                    <figure>
                        <a href="/homepage-v1.html" target="_blank">
                            <img src="../../images/500x400.jpg" alt="" class="img-fluid">
                        </a>
                    </figure>

                    <h6 class="text-white">Homepage</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb20">
                    <figure>
                        <a href="/blog.html" target="_blank">
                            <img src="../../images/500x400.jpg" alt="" class="img-fluid">
                        </a>
                    </figure>
                    <h6 class="text-white">Blog</h6>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb20">
                    <figure>
                        <a href="/blog-detail.html" target="_blank">
                            <img src="../../images/500x400.jpg" alt="" class="img-fluid">
                        </a>
                    </figure>
                    <h6 class="text-white">Single Blog</h6>
                </div>


            </div>

        </div>


        <ul class="setting-button list-unstyled bg-dark d-none d-sm-block">
            <li>
                <a href="#" class="panel-option" data-open="panel-option" data-name="Options">
                    <i class="fa fa-gear"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" data-name="Purchase">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </li>
        </ul>
    </div>
</div>