<!-- NAVBAR -->

<nav class="navbar navbar-hover navbar-expand-lg navbar-soft">
    <div class="container">
        <a class="navbar-brand" href="/homepage-v1.html">
            <img src="../../images/logo.jpg" alt="" class="img-fulid logo-brand">
        </a>
        <button id="nav-icon" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav29"
            aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>


        <div class="collapse navbar-collapse justify-content-between" id="main_nav29">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="#home">Home </a> </li>
                <li class="nav-item"><a class="nav-link" href="#about"> About </a></li>
                <li class="nav-item"><a class="nav-link" href="#projects">Projects </a> </li>
                <li class="nav-item"><a class="nav-link" href="#service"> Services </a></li>
                <li class="nav-item"><a class="nav-link" href="#blog"> Blog </a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> Pages </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/homepage-v1.html"> Homepage version 1</a></li>
                        <li><a class="dropdown-item" href="/blog.html"> Blog</a></li>
                        <li><a class="dropdown-item" href="/blog-detail.html"> Single blog detail</a></li>

                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#contact"> Contact </a></li>
            </ul>
        </div> <!-- navbar-collapse.// -->
    </div>
</nav>