<div class="item testimonial__block" data-aos="fade-left">
    <div class="testimonial__block-card bg-reviews">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia illum iure ullam et inventore iusto
            earum
            voluptate dignissimos ratione dolor!
        </p>
    </div>
    <div class="testimonial__block-users">
        <div class="testimonial__block-users-img">
            <img src="../../images/80x80.jpg" alt="" class="img-fluid">
        </div>
        <div class="testimonial__block-users-name">
            jhon doe <br>
            <span>Owner, Top Level Bartending</span>
        </div>
    </div>

</div>